<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To request help on this sample application, please contact the
  <a href="https://www.github.com/banderson6979/sample_app/" target="_blank">
    <em>original owner</em></a>.
</p>
